Things to do before running this: 
* Install Anaconda
* Select the "base(Python [version])" from Anaconda in VSC (top right)

In [16]:
# List of imports necessary for this project (needs to run before running the SQL queries below, it can be done individually or all at once with the "Run All" button)

import pandas as pd # Pandas is a data analysis library to help with data visualisation
from pathlib import Path
import sqlite3
from IPython.display import display, HTML

In [17]:
dbPath = Path('../data/deathData.db')

#Make sure it exists
if (not Path.is_file(dbPath)):
    dbPath.touch()

conn = sqlite3.connect(dbPath)
c = conn.cursor() #We'll hang on to this cursor for later queries

dataDf = pd.read_csv('../data/JS-Practice-DeathCalculator-SSA-table.csv')

print("Dataframe of loaded data:")
display(dataDf)

mainTableName = "deathChart"
# write the data to a sqlite table
dataDf.to_sql(mainTableName, conn, if_exists='replace', index = False)

print("Data loaded into sql")

Dataframe of loaded data:

,exactAge,male_deathProbability,male_numberOfLives,male_lifeExpectancy,female_deathProbability,female_numberOfLives,female_lifeExpectancy
0,0,0.005837,"100,000",74.12,0.004907,"100,000",79.78
1,1,0.000410,"99,416",73.55,0.000316,"99,509",79.17
2,2,0.000254,"99,376",72.58,0.000196,"99,478",78.19
3,3,0.000207,"99,350",71.60,0.000160,"99,458",77.21
4,4,0.000167,"99,330",70.62,0.000129,"99,442",76.22
...,...,...,...,...,...,...,...
115,115,0.800319,0,0.74,0.799516,0,0.74
116,116,0.840335,0,0.68,0.840335,0,0.68
117,117,0.882352,0,0.63,0.882352,0,0.63
118,118,0.926469,0,0.58,0.926469,0,0.58
119,119,0.972793,0,0.53,0.972793,0,0.53

Data loaded into sql

In [3]:
print("How many rows are in the db:")
c.execute(f"SELECT count(*) FROM deathChart").fetchall()

How many rows are in the db:

[(120,)]

In [31]:
print("Male life expectancy of pre-set user age:")
c.execute("SELECT (male_lifeExpectancy) FROM deathChart WHERE exactAge = 40").fetchall()

Male life expectancy of pre-set user age:

[(36.97,)]

In [32]:
print("Female life expectancy of pre-set user age:")
c.execute("SELECT (female_lifeExpectancy) FROM deathChart WHERE exactAge = 30").fetchall()

Female life expectancy of pre-set user age:

[(50.79,)]

In [30]:
print("Male life expectancy at age of user:")

Male life expectancy at age of user:

In [ ]:
print("Female life expectancy at age of user:")